# System Files
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Local Server
.gemini/

# Documents
*.pdf

# PyInstaller
build/
dist/
*.spec
Site Uploader/ProjectUploader/
_internal/
ProjectUploader.exe

# Local Credentials & Configs
uploader_config.json
uploader_config*.json
Site Uploader/uploader_config.json


