@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans text-gray-800 antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-primary-dark;
  }
}

.glass-nav {
  @apply bg-white/90 backdrop-blur-md border-b border-gray-100;
}
